{% extends 'dashboard/index.html' %}
{% load static %}
{% load i18n %} {# Load the i18n template tag library for translation #}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dashboard/css/profile.css' %}" />
{% endblock %}

{% block subtitle %}
  -{% trans 'Profile' %}
{% endblock %}

{% block heading %}
  {% trans 'User Profile' %}
{% endblock %}

{% block PageContent %}
  <div class="bg-light p-2 m-2 rounded d-flex align-items-center position-relative">
    <div id="image-upload" class="position-relative">
      {% if user.profile_pic %}
        <img src="{{ user.profile_pic.url }}" width="140" alt="{{ user.name }}" id="user-image" />
      {% else %}
        <img src="{% static 'img/user.png' %}" width="140" alt="{{ user.name }}" id="user-image" />
      {% endif %}
      <div id="upload-icon" class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer; display: none;">
        <label for="file">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 3a1 1 0 0 1 .78.375l4 5a1 1 0 1 1-1.56 1.25L13 6.85V14a1 1 0 1 1-2 0V6.85L8.78 9.626a1 1 0 1 1-1.56-1.25l4-5A1 1 0 0 1 12 3ZM9 14v-1H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-4v1a3 3 0 1 1-6 0Zm8 2a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd" />
          </svg>
        </label>
        <input id="file" name="profile_pic" type="file" style="display: none;" />
      </div>
    </div>
    <div class="d-flex flex-column flex-grow-1">
      <div class="user-data d-flex flex-column justify-content-between ms-2 flex-grow-1 mb-auto">
        <div class="row justify-content-between flex-fill mb-2">
          <span class="col"><strong>{% trans 'First Name' %}</strong> : {{ user.first_name }}</span>
          <span class="col"><strong>{% trans 'Last Name' %}</strong> : {{ user.last_name }}</span>

          {% if user.account_type %}
            <span class="col"><strong>{% trans 'Account type' %}</strong> : {{ user.get_account_type_display }}</span>
          {% else %}
            <span class="col"><strong>{% trans 'Account type' %}</strong> :{% trans 'Administrator' %}</span>
          {% endif %}
        </div>
        <div class="row justify-content-between flex-fill mb-2">
          <span class="col"><strong>{% trans 'Phone Number' %}</strong> : {{ user.phone_number }}</span>
          <span class="col"><strong>{% trans 'Last Login' %}</strong> : {{ user.last_login }}</span>
          <span class="col"><strong></strong> :</span>
        </div>
      </div>

      {% if request.user.is_staff %}
        <a class="btn btn-blue" id="edit-profile" href="{% url 'dash:user_edit' request.user.pk %}">{% trans 'Edit Profile' %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
