#overview .admin-menu > div
{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    font-size: 1.2rem;
    margin: .5rem;
}
#overview .admin-menu > div i 
{
    margin: 7px;
    font-size: 3rem;
}
#overview .admin-menu > div span 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#overview .product
{
    max-width: 32%;
    background-color: var(--bs-light);
    padding: 5px;
    border-radius: 5px;
    color: dark;
}
#overview .product img 
{
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: .5rem;
}